.logo-img {
  height: 40px;
  max-width: 200px;
  object-fit: contain;
}

.logo-img-small {
  height: 20px;
  max-width: 100px;
  object-fit: contain;
  vertical-align: middle;
  margin: 0 5px;
}

@media (max-width: 768px) {
  .logo-img {
    height: 30px;
  }
  
  .logo-img-small {
    height: 16px;
  }
}
