/* Estilos existentes do Topbar */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #6c5ce7;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  box-sizing: border-box;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.div-login {
  padding-left: 20px;
}

.div-nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #6c5ce7;
}

.login-btn {
  background: #5a67d8;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
  font-size: 14px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.login-btn:hover {
  background: #434190;
}

/* Novos estilos para a área logada */
.anunciante-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.anunciante-nome {
  font-size: 14px;
  color: white;
}

.logout-btn {
  background: #dc3545; /* Cor vermelha para o botão de logout */
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
  font-size: 14px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.logout-btn:hover {
  background: #c82333; /* Cor vermelha mais escura no hover */
}

.dropbtn {
  background-color: #6c5ce7;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
  align-items: center;
  justify-content: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6c5ce7;
  min-width: 185px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #5a4cb1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #5a4cb1;
}