.form-dados {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
}

.form-dados h2 {
  text-align: center;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-row {
  display: flex;
  gap: 5px;
}

.input-row > .input-group {
  flex: 1;
}

.form-dados input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.form-dados input:focus {
  outline: none;
  border-color: #7c5dfa;
}

.creditos-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  margin-top: auto;
  background-color: #7c5dfa;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  background-color: #684edb;
}

.dados-container {
  position: relative;
  flex: 1;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: 'Lato', sans-serif;
  text-align: left;
}

.dados-header {
  text-align: start;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #333;
}

.dados-bloco {
  margin-bottom: 30px;
}

.subtitulo {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  text-align: center;
}

.linha {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 10px;
}

.dados-item {
  flex: 1 1 45%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.dados-item label {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
  color: #444;
}

.dados-item .valor {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.dados-item input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fff;
}

.dados-item input:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

.dados-item input:focus {
  outline: none;
  border-color: #7c5dfa;
}

.salvar-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.botao-salvar {
  background-color: #7c5dfa;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.botao-salvar:hover {
  background-color: #684edb;
}
